<body>
	<div id="musicSheet">
		<!-- Requires touch sensors to be on to work on the Desktop -->
		<div class="tealBar"></div>
		<input type="button" class="blackBar"></input>
		<input type="button" class="whiteBar"></input>
		<input type="button" class="blackBar"></input>
		<input type="button" class="whiteBar"></input>
		<input type="button" class="blackBar"></input>
		<input type="button" class="whiteBar"></input>
		<input type="button" class="blackBar"></input>
		<input type="button" class="whiteBar"></input>
		<input type="button" class="blackBar"></input>
		<div class="tealBar2"></div> 

		<!-- notes and breaks -->
		<a href="" type="button" onclick="playSounds()"><img class="play" src="img/play.png"></img></a>
		<a href="" type="button" onclick=""><img class="pause" src="img/pause.png"></img></a>
		<a href="" type="button" onclick=""><img class="stop" src="img/stop.png"></img></a>
		
		<!-- add and delete button -->
		<a href="#/comPose" type="button"><img class="add" src="img/compose.png"></img></a>
		<!-- <a href="#/comPose" type="button" class="add"></a> -->
		 

		<!-- end Music Sheet -->
	</div>
	<a href="" onClick="trebleOrBass()"><img id="symbolTreble" class="treble" src="img/0treble.png"></img></a>

	<script type="text/javascript">
		if((numOfNotes - 1) % 3 == 0){
			var x = document.getElementsByClassName("blackBar");
			var y = document.getElementsByClassName("whiteBar");
			var z = document.getElementsByClassName("tealBar");
			barWidth++;
			for(var i = 0; i < 5; i++){
				x[i].style.width = "" + (100 + barWidth * 50) + "%";
			}
			for(var j = 0; j < 4; j++){
				y[j].style.width = "" + (100 + barWidth * 50) + "%";
			}
			for(var k = 0; k < 2; k++){
				z[k].style.width = "" + (100 + barWidth * 50) + "%";
			}
		}
	</script>
</body>