<body>
	<div id="musicSheet">
		<!-- Requires touch sensors to be on to work on the Desktop -->
		<div class="tealBar"></div>
		<input type="button" class="blackBar"></input>
		<input type="button" class="whiteBar"></input>
		<input type="button" class="blackBar"></input>
		<input type="button" class="whiteBar"></input>
		<input type="button" class="blackBar"></input>
		<input type="button" class="whiteBar"></input>
		<input type="button" class="blackBar"></input>
		<input type="button" class="whiteBar"></input>
		<input type="button" class="blackBar"></input>
		<div class="tealBar2"></div> 
		
		
		<!-- notes and breaks -->
		<a href="" type="button"><img class="undo" onclick="undo()" src="img/undo.png"></img></a>
		<a href="" type="button"><img class="notes" onclick="notesClicked()" src="img/4bn.png"></img></a>
		<a href="" type="button"><img class="rest" onclick="notesClicked()" src="img/4r.png"></img></a>
		
		<!-- add and delete button -->
		<a href="#/playBack" type="button"><img class="add" src="img/playback.png"></img></a>


		<!-- end Music Sheet -->
	</div>

	<a href="" onClick="trebleOrBass('treble')"><img id="symbolTreble" class="treble" src="img/0treble.png"></img></a>

	<script type="text/javascript">
	    window.scrollTo(0,100);

	    var white = document.getElementsByClassName("whiteBar");
		var black = document.getElementsByClassName("blackBar");

		//makes onclick go first
		white[0].addEventListener("touchstart", white1, false);
		white[1].addEventListener("touchstart", white3, false);
		white[2].addEventListener("touchstart", white5, false);
		white[3].addEventListener("touchstart", white7, false);

		black[0].addEventListener("touchstart", black0, false);
		black[1].addEventListener("touchstart", black2, false);
		black[2].addEventListener("touchstart", black4, false);
		black[3].addEventListener("touchstart", black6, false);
		black[4].addEventListener("touchstart", black8, false);

		for(var i = 0; i < 5; i++){
			black[i].addEventListener("touchstart", handleStart, false);
			black[i].addEventListener("touchend", handleEnd, false);
			if(i < 4){
				white[i].addEventListener("touchstart", handleStart, false);
				white[i].addEventListener("touchend", handleEnd, false);
		 	}
		 }

		
    </script>
	
</body>